################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DotNet (Rahul)/Day_1_DOT_NET_MVC/.vs/Day_1_DOT_NET_MVC.slnx
