################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DotNet (Rahul)/Day_1_DOT_NET_MVC/.vs/Day_1_DOT_NET_MVC.slnx
/DotNet (Rahul)/Day_2-Routing&Action_Filters_in_MVC/.vs/Day_2-Routing&Action_Filters_in_MVC.slnx
/DotNet (Rahul)/Day_2-Routing&Action_Filters_in_MVC/obj
/Rahul-Task/C-sharp/.vs/C-sharp.slnx
/Rahul-Task/C-sharp/obj/Debug
/DotNet (Rahul)/Day_3-Data_Binding_in_MVC/.vs/Day_3-Data_Binding_in_MVC.slnx
/DotNet (Rahul)/Day_3-Data_Binding_in_MVC/obj/Debug/net10.0
/DotNet (Rahul)/Day_3-Data_Binding_in_MVC/.vs/Day_3-Data_Binding_in_MVC/CopilotIndices/18.3.502.33069
/DotNet (Rahul)/Day_3-Data_Binding_in_MVC/obj
/DotNet (Rahul)/Day_4-Forms_and_Validation_in_MVC/.vs/Day_4-Forms_and_Validation_in_MVC.slnx
/DotNet (Rahul)/Day_4-Forms_and_Validation_in_MVC/obj
/DotNet (Rahul)/Day_5-Entity_Framework_and_Database_Access/.vs
/DotNet (Rahul)/Day_5-Entity_Framework_and_Database_Access/obj/Debug/net10.0
/DotNet (Rahul)/Day_5-Entity_Framework_and_Database_Access/obj
/DotNet (Rahul)/Day_6-Layouts_and_Partial_Views_AJAX_in_MVC/.vs/Day_6-Layouts_and_Partial_Views_AJAX_in_MVC.slnx
/DotNet (Rahul)/Day_6-Layouts_and_Partial_Views_AJAX_in_MVC/obj
