################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DotNet (Rahul)/Day_1_DOT_NET_MVC/.vs/Day_1_DOT_NET_MVC.slnx
/DotNet (Rahul)/Day_2-Routing&Action_Filters_in_MVC/.vs/Day_2-Routing&Action_Filters_in_MVC.slnx
/DotNet (Rahul)/Day_2-Routing&Action_Filters_in_MVC/obj
/Rahul-Task/C-sharp/.vs/C-sharp.slnx
/Rahul-Task/C-sharp/obj/Debug
/DotNet (Rahul)/Day_3-Data_Binding_in_MVC/.vs/Day_3-Data_Binding_in_MVC.slnx
/DotNet (Rahul)/Day_3-Data_Binding_in_MVC/obj/Debug/net10.0
/DotNet (Rahul)/Day_3-Data_Binding_in_MVC/.vs/Day_3-Data_Binding_in_MVC/CopilotIndices/18.3.502.33069
/DotNet (Rahul)/Day_3-Data_Binding_in_MVC/obj
/DotNet (Rahul)/Day_4-Forms_and_Validation_in_MVC/.vs/Day_4-Forms_and_Validation_in_MVC.slnx
/DotNet (Rahul)/Day_4-Forms_and_Validation_in_MVC/obj
/DotNet (Rahul)/Day_5-Entity_Framework_and_Database_Access/.vs
/DotNet (Rahul)/Day_5-Entity_Framework_and_Database_Access/obj/Debug/net10.0
/DotNet (Rahul)/Day_5-Entity_Framework_and_Database_Access/obj
/DotNet (Rahul)/Day_6-Layouts_and_Partial_Views_AJAX_in_MVC/.vs/Day_6-Layouts_and_Partial_Views_AJAX_in_MVC.slnx
/DotNet (Rahul)/Day_6-Layouts_and_Partial_Views_AJAX_in_MVC/obj
/DotNet (Rahul)/Day_7-Web_API_in_MVC/Day_7-Web_API_in_MVC/.vs/Day_7-Web_API_in_MVC.slnx
/DotNet (Rahul)/Day_7-Web_API_in_MVC/Day_7-Web_API_in_MVC/obj
/DotNet (Rahul)/Day_7-Web_API_in_MVC/Test_Case_Day_7-Project/obj/Debug/net10.0
/DotNet (Rahul)/Day_8_CodeFirst_Relationships_in_MVC/.vs/Day_8_CodeFirst_Relationships_in_MVC.slnx
/DotNet (Rahul)/Day_8_CodeFirst_Relationships_in_MVC/obj
/DotNet (Rahul)/Day_8_CodeFirst_Relationships_in_MVC/Day_8_CodeFirst_Relationships_in_MVC/.vs/Day_8_CodeFirst_Relationships_in_MVC.slnx
/DotNet (Rahul)/Day_8_CodeFirst_Relationships_in_MVC/Day_8_CodeFirst_Relationships_in_MVC/obj
/DotNet (Rahul)/Day_9-Code_First_Approach/Day_9-Code_First_Approach/.vs/Day_9-Code_First_Approach.slnx
/DotNet (Rahul)/Day_9-Code_First_Approach/Day_9-Code_First_Approach/obj
/DotNet (Rahul)/Day_10-Database_First_Approach/Day_10-Database_First_Approach/.vs/Day_10-Database_First_Approach.slnx
/DotNet (Rahul)/Day_10-Database_First_Approach/Day_10-Database_First_Approach/obj
/DotNet (Rahul)/Day_11-Database_First_Approach/Day_11-Database_First_Approach/.vs/Day_11-Database_First_Approach.slnx
/DotNet (Rahul)/Day_11-Database_First_Approach/Day_11-Database_First_Approach/obj
/DotNet (Rahul)/Day_12-OOP_and_Web_API_Basics/.vs/Day_12-OOP_and_Web_API_Basics.slnx/FileContentIndex
/DotNet (Rahul)/Day_12-OOP_and_Web_API_Basics/obj/Debug
/DotNet (Rahul)/Day_13-Introduction_to_Web_APIs/.vs/Day_13-Introduction_to_Web_APIs.slnx
/DotNet (Rahul)/Day_13-Introduction_to_Web_APIs/obj
/DotNet (Rahul)/Day_14-Dependency_Injection _in_NET_Core/.vs/Day_14-Dependency_Injection _in_NET_Core.slnx
/DotNet (Rahul)/Day_14-Dependency_Injection _in_NET_Core/obj
/DotNet (Rahul)/Day_15-Validation_and_Routing_with_WebAPI/.vs/Day_15-Validation_and_Routing_with_WebAPI.slnx
/DotNet (Rahul)/Day_15-Validation_and_Routing_with_WebAPI/obj
/DotNet (Rahul)/Day_16-HTTP_Methods_with_WebAPI/.vs/Day_16-HTTP_Methods_with_WebAPI.slnx
/DotNet (Rahul)/Day_16-HTTP_Methods_with_WebAPI/obj
/DotNet (Rahul)/Day_17-Middleware_in_DotNET_Core_with_WebAPI/.vs/Day_17-Middleware_in_DotNET_Core_with_WebAPI.slnx
/DotNet (Rahul)/Day_17-Middleware_in_DotNET_Core_with_WebAPI/obj
/DotNet (Rahul)/Day_18-Authentication_and_Authorization_in_Web_APIs/.vs/Day_18-Authentication_and_Authorization_in_Web_APIs.slnx
/DotNet (Rahul)/Day_18-Authentication_and_Authorization_in_Web_APIs/obj
/DotNet (Rahul)/Day_19-Working_with_EF_Core_in_WebAPI/.vs/Day_19-Working_with_EF_Core_in_WebAPI.slnx
/DotNet (Rahul)/Day_19-Working_with_EF_Core_in_WebAPI/obj
/DotNet (Rahul)/Day_19-Working_with_EF_Core_in_WebAPI/Day_19-Working_with_EF_Core_in_WebAPI/.vs
/DotNet (Rahul)/Day_19-Working_with_EF_Core_in_WebAPI/Day_19-Working_with_EF_Core_in_WebAPI/obj
/DotNet (Rahul)/Day_20_Logging_with_WebAPI_TestCase/Day_20-Logging_with_WebAPI/.vs/Day_20-Logging_with_WebAPI.slnx
/DotNet (Rahul)/Day_20_Logging_with_WebAPI_TestCase/Day_20-Logging_with_WebAPI/obj
/DotNet (Rahul)/Day_20_Logging_with_WebAPI_TestCase/Day_20_Logging_with_WebAPI_TestCase/obj
/DotNet (Rahul)/Day_21-CRUD_with_WebAPI/Day_21-CRUD_with_WebAPI/.vs/Day_21-CRUD_with_WebAPI.slnx
/DotNet (Rahul)/Day_21-CRUD_with_WebAPI/Day_21-CRUD_with_WebAPI/obj
/DotNet (Rahul)/Day_22-Implement_Login_functionality_with_WebAPI/Day_22-Implement_Login_functionality_with_WebAPI/.vs/Day_22-Implement_Login_functionality_with_WebAPI.slnx
/DotNet (Rahul)/Day_22-Implement_Login_functionality_with_WebAPI/Day_22-Implement_Login_functionality_with_WebAPI/obj
/DotNet (Rahul)/Day_23-NET_Core_and_Repository_Pattern/Day23-NET_Core_and_Repository_Pattern/.vs/Day23-NET_Core_and_Repository_Pattern.slnx
/DotNet (Rahul)/Day_23-NET_Core_and_Repository_Pattern/Day23-NET_Core_and_Repository_Pattern/obj
/DotNet (Rahul)/Day_24-Understanding_Repository_Pattern/Day_24-Understanding_Repository_Pattern/.vs/Day_24-Understanding_Repository_Pattern.slnx
/DotNet (Rahul)/Day_24-Understanding_Repository_Pattern/Day_24-Understanding_Repository_Pattern/obj
/DotNet (Rahul)/Day_25-CRUD_Operations_with_Repository_Pattern/Day_25-CRUD_Operations_with_Repository_Pattern/.vs/Day_25-CRUD_Operations_with_Repository_Pattern.slnx
/DotNet (Rahul)/Day_25-CRUD_Operations_with_Repository_Pattern/Day_25-CRUD_Operations_with_Repository_Pattern/obj
/DotNet (Rahul)/Day_26-DI_Testing_in_Dot_NET_Core/Day_26-DI_Testing_in_Dot_NET_Core/.vs/Day_26-DI_Testing_in_Dot_NET_Core.slnx
/DotNet (Rahul)/Day_26-DI_Testing_in_Dot_NET_Core/Day_26-DI_Testing_in_Dot_NET_Core/obj/Debug/net10.0
/DotNet (Rahul)/Day_26-DI_Testing_in_Dot_NET_Core/Day_26-Test_Case/obj/Debug/net10.0
